@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #141414;
  font-family: "Poppins", sans-serif;
}
html, body { 
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  height: 100%;
 
}

/*header style*/ 
header {
  height: 80px;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 28px 6%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
   margin-right: 3px;  
}
.navbar {
  display: flex;

}
.navbar .dropdown {
  position: absolute;
  display: block;
  width: 200px;
  background: #f6f4f4;
  line-height: 50px;
  margin: 12px 0;
  padding: 10px 25px;
  transition: all 0.5s ease;
  transform: translateY(0.5rem);
  visibility: hidden;
  opacity: 0;
}

.show {
  transform: translateY(0rem);
  visibility: visible;
  opacity: 1;
}
.navbar .img1 {
  transform: rotate(180deg);
  transition: 0.2s ease;
  width: 15px;
 
}

.navbar a {
  color: #141414;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: #0065fe;
}
.navbar a.active {
  color: #0065fe;
}
.navbar a.logbtn {
  color: #0065fe;
}
.navbar a.trybtn {
  height: 40px;
  min-width: 100px;
  background-color: #0065fe;
  color: #fff;
  text-decoration: none;
  border: 0.2px solid #0065fe;
  font-weight: 500;
  padding: 20px 25px;
  border-radius: 20px;
 
}
.hamburger {
  font-size: 35px;
  color: #0065fe;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.main1 {
  display: flex;
  align-items: center;
}
.main1  {
  margin-right: 25px;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.main1 a:hover {
  color: blue;
}


/* for the shortened urls*/
.shortened {
  text-align: center;
  padding: 10px;
}
/*add url*/
.add-url {
  padding: 20px;
  display: flex;
  text-align: center;
  margin: auto;
  width: 30%;
}
.cont5 {
  justify-content: center;
}

/* main style */
.main {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}
.main > h1 {
  font-size: 40px;
  line-height: 70px;
  word-spacing: 5px;
}
.check {
  color: #0065fe;
}
.main > p {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}
.btns2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.btns2i {
  height: 30px;
  min-width: 100px;
  background-color: #0065fe;
  color: #fff;
  text-decoration: none;
  border: 0.2px solid #0065fe;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 20px;
}
.btns2i:hover {
  color: #8791ef;
}
.btns2ii {
  height: 40px;
  min-width: 100px;
  color: #0065fe;
  text-decoration: none;
  border: none;
  font-weight: 500;
  padding: 10px 25px;
}
.btns2ii:hover {
  color: darkblue;
}

.mains3 {
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  height: 12rem;
  width: 30rem;
  border: 2px solid #e2e9f0;
  border-radius: 20px;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 20px;
  margin-left: -100px;
}
.mains4 {
  margin-bottom: 5px;
}
.rect {
  width: 100%;
  height: 103px;
}
.mirror {
  width: 956px;
  height: 59px;
  position: absolute;
  left: 20%;
  margin: 15px;
}

.content > p {
  font-weight: 600px;
}
.linee {
  position: relative;
}
#line {
  margin-bottom: 30px;
}

/* section2 */

.section2 {
  background: #f9fbfd;
}
.cont2 {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text01 {
  margin-left: 30px;
  font-size: 25px;
  line-height: 50px;
}
#posc {
  color: #0065fe;
}
.card1, .card-1 {
  width: 200px;
  padding: 20px;
  min-height: 150px;
 
} 

 .card {
  display: flex; 
  
 align-items: center;
}

/* section3, About style */
.section3 {
  background: #f9fbfd;
  height: 600px;
}
.cont3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.text02 {
  flex: 30%;
  margin-top: 35px;
}
.cards1 {
  flex: 60%;
  margin-top: 25px;
}
.card2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card2-containerii {
  flex: 50%;
  justify-content: space-between;
}
.card2-containeriii {
  flex: 50%;
}

.h2p {
  width: 350px;
  padding: 5px;
}

.text02 > h1 {
  font-size: 25px;
  line-height: 50px;
}
.h1e {
  margin-left: 10px;
  padding-bottom: 500px;
}
#img6 {
  margin-bottom: -23px;
}
.text02 > p {
  margin-left: 25px;
}
.card2 {
  width: 400px;
  padding: 20px;
  min-height: 250px;
}
.img7 {
  height: 40px;
}
.link2 {
  margin-left: -33px;
  margin-bottom: 8px;
  text-align: center;
}
.card2 > h2 {
  line-height: 50px;
  text-align: left;
}

/* section4, prices style */

.section4 {
  background: #f9fbfd;
}
.cont4 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.text03 {
  text-align: center;

  margin-bottom: 50px;
}
.text03 > h1 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 10px;
}
.h2e {
  margin-left: 10px;
  padding-bottom: 500px;
}
#img8 {
  margin-bottom: -20px;
}
.text03 > p {
  font-weight: 600;
}

.cards4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.card4 {
  width: 300px;
  padding: 20px;
  min-height: 400px;
  border: 2px solid #768ea4;
  line-height: 40px;
}
.card4 > h4 {
  margin-bottom: 20px;
}
.card4 > h5 {
  margin-bottom: 10px;
}

.card5 {
  width: 350px;
  padding: 20px;
  min-height: 500px;
  background: #1e3448;
  color: #fff;
  line-height: 45px;
}
.card5 > h4 {
  margin-bottom: 20px;
  color: #fff;
}
.card5 > h5 {
  margin-bottom: 10px;
  color: #fff;
}
.card5 > h2 {
  color: #fff;
}
.card5 > p {
  color: #fff;
}

.bttn4 {
  margin-left: 38%;
  margin-bottom: 100px;
}
.btnn4i {
  height: 30px;
  min-width: 100px;
  color: #0065fe;
  text-decoration: none;
  border: 0.2px solid #0065fe;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 20px;
}
.btnn4ii {
  height: 30px;
  min-width: 100px;
  background-color: #0065fe;
  color: #fff;
  text-decoration: none;
  border: 0.2px solid #0065fe;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 20px;
}

/* section5 */
.section5 {
  background: #1e3448;
  width: 100%;
  height: 523px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  max-width: 600px;
  /* height: 280px;  */
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  border-radius: 3px;
  background-color: #fff;
}
.url {
  width: 90%;
  border: 2px solid #0065fe;
  margin: 10px 0;
  padding: 15px;
  outline: none;
  font-size: 16px;
  color: #0065fe;
  border-radius: 20px;
}

#dos {
  width: 45%;
  border: 2px solid #0065fe;
  margin: 20px 0;
  padding: 5px;
  outline: none;
  color: #0065fe;
  border-radius: 20px;
}
.alias {
  width: 45%;
  border: 2px solid #0065fe;
  color: #0065fe;
  margin: 10px 0;
  padding: 15px;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
}

form > button {
  padding: 10px;
  width: 90%;
  margin: 20px 0;
  border-radius: 30px;
  background: #0065fe;
  color: #fff;
  font-size: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
}
form > p {
  margin-top: 10px;
  color: #0065fe;
  font-size: 12px;
}

/* sectin6, FAQ style */
.section6 {
  background: #f9fbfd;
}
.cont6 {
  margin-top: 50px;
  margin-bottom: 30px;
}
.text04 {
  text-align: center;

  margin-bottom: 50px;
}
.text04 > h2 {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 10px;
}
.h3e {
  margin-left: 10px;
}
.img9 {
  margin-bottom: -20px;
}
.cont65 {
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text05 {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  border-radius: 3px;
  background-color: #fff;
}
.text05 > h5 {
  width: 100%;
  margin: 7px 0;
  padding: 10px;
  outline: none;
  font-size: 16px;
}
.text05 > p {
  font-size: 12px;
}
.img10 {
  float: right;
  line-height: 1em;
  cursor: pointer;
}

/* section7, FAQS style */
.section7 {
  background: #1e3448;
}
.cont7 {
  padding: 100px;
  margin-bottom: 30px;
  text-align: center;
}
.cont7 > h1 {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 40px;
}
.cont7 > a {
  height: 30px;
  min-width: 100px;
  background-color: #0065fe;
  color: #fff;
  text-decoration: none;
  border: 0.2px solid #0065fe;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 20px;
}

/* footer style */

footer {
  background-image: linear-gradient(#fff, #9ee6f7);
  width: 100%;
}

.cont8i {
  display: flex;
  flex-wrap: wrap;
}

.cont8 {
  flex: 20%;
  padding: 0 15px;
}

.cont-8-container,
.cont-8-containerii,
.cont-8-containeriii,
.cont-8-containeriv,
.cont-8-containerv {
  width: calc(20% - 30px); /* Adjust based on padding */
  text-align: center;
}

.foot2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.cont-8-containervi,
.cont-8-containervii,
.cont-8-containerviii {
  width: calc(33.3% -10px); /* Full width on smaller screens */
  margin-left: 35px;
  max-width: 200px;
}

.end {
  font-size: 13px;
  font-weight: 600;
  line-height: 40px;
  margin-right: 30px;
  float: right;
}
/*dashboard */
.dashboard_empty-state {
 margin-bottom: 10px;
}
.dashboard_empty { 
 margin: auto;
 width: 20%;
 margin-top: 100px;
}
.loading {
 margin: auto;
 width: 15%;
 margin-top: 20px;
}

/*media screen */

@media (max-width: 930px) {
  .hamburger {
    display: block;
    cursor: pointer; /* Add cursor pointer */
  }

  .navbar {
    position: absolute;
    top: 20px;
    right: 100%;
    width: 270px;
    height: 50vh;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
    display: hidden;
    z-index: 1000;
    padding: 20px;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: #0065fe;
    transform: translateY(5px);
  }
  .navbar .open {
    display: block; /* Display the navbar when open */
    right: 0;
  }
  .navbar a.logbtn{
    color: #0065fe;
    border: none; 
    text-decoration: none; 
    background-color: #fff;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    min-width: 150px;
    
  }
  .navbar a.trybtn {
    margin-left: 0px;
    background-color: #fff;
    min-width: 130px;
    border: none;
    color: #000;
  }

  .trybtn:hover,
  .logbtn:hover {
    background-color: #0056b3;
  }
  .trybtn a {
    background-color: #f9fbfd;
    border: none;
    border-radius: 0;
  }
 
.cont3 {
  display: block;
}
.section3 {
  height: 1200px;

}
.text02 {
 
  margin-top: 5px;
}
.text02 > p {
  margin-left: 0px;
}
.cards1 {
 
  margin-top: 25px;
}
.card2-container {
  display: block;
  
}
.card2-containerii {
  display: block;
  
}
.h1e {
  margin-left: 10px;
  padding-bottom: 500px;
}
.link2 {
  margin-left: -33px;
  margin-bottom: 8px;
  text-align: start;
}
.img3 {
  display: none;
}
.box1 {
  height: 18rem;
  width: 20rem;
  margin-left: 15px;
}
.content > p {
  font-weight: 400px;
}
.mirror {
 display: none;
}
.rect {
  display: none;
}
.cont2 {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  display: block;
}
.card {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.card1 {
  width: 200px;
  padding: 20px;
  min-height: 150px;
  margin-left: 0;
} 
.card-1 {
  display: none;
}
.cards4 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.card4, card5 {
  margin: 5px;
  border-radius: 10px;
}
.bttn4 {
  margin-left: 40px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}
.btnn4i, .btnn4ii {
  align-items: center;
  margin: 7px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  width: 80%;
}
.section5, .section7 {
  margin-left: 10px;
  width: 95%;
  border-radius: 13px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .cont8i {
  display: block;
 }
 .foot2 {
  display: block;
  margin-top: 0px;
  margin-left: 0%;
  text-align: center;
  margin-bottom: 150px;
 }
 .cont-8-container {
 position: absolute;
 bottom: 120px;
 }
 .cont8 {
  position: relative;
  bottom: 0px;
  margin: 15px;
  padding: 0px;
 }
 
 .cont8 h3 {
  margin-bottom: 5px;
 }
 .cont8-h4 {
  margin-top: 30px;
 }
 
 .dashboard_empty { 
  width: 100%;
  text-align: center;
 }
 .loading {
  width: 100%;
  text-align: center;
 }
 .add-url {
  margin: auto;
  width: 100%;
}
.text01 {
 margin-left: 3px; 
}
}

